:root {
  --background-color: #f0ead6;
  --text-color: #8a9a5b;
  --heading-color: #0a5e0b;
  --heading1-font-size: 36px;
  --heading2-font-size:28px;
  --body-font-size: 16px;
}

.content {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 20px;
}

.hero {
    position: relative;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    z-index:0;
}
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(1, 0, 0, 0.457); 
    z-index: 1;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 0 20px;
    z-index:2;
}

.hero-text h1,
.hero-text h2 {
    color: white;
    background: none;
    text-shadow: 0 2px 8px rgba(0,0,0,0.7);
}

body {
  background-color: var(--background-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--text-color);
  font-size: var(--body-font-size);
  line-height: 1.6;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: var(--heading1-font-size);
  color: var(--heading-color);
  text-align: center;
}

h2 {
  font-size: var(--heading2-font-size);
  color: var(--heading-color);
  text-align: center;
}

p {
  background-color: var(--background-color);
  font-size: var(--body-font-size);
  color: var(--text-color);
}

.info {
    padding: 6px 8px;
    font: 14px/16px Georgia, 'Times New Roam', Times, serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#map {
    height: 500px;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    border: 1px solid #b1eb29;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.zoom-img {
    display: block;
    margin: 30px auto;     
    max-width: 100%;       
    height: auto;
    cursor: zoom-in;
    transition: transform 0.25s ease;
}

.zoom-img.zoomed {
    transform: scale(2);   /* zoom level */
    cursor: zoom-out;
}